@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica,sans-serif;
    --secondary-font: Mooli, san-serif;
    }

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
}

#menu-button {
    background-color: transparent;
    border: none;
    display: none;
    margin: 0 auto;
    margin-top: 1rem;
}

.close-viewer {
    background-color: transparent;
    border: none;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3, h1 {
    font-family: "Mooli";
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
    padding: 1rem;
}

ul.hide {
    display: none;
}

a:link, a:visited {
    color: var(--accent-color);
}

img {
	max-width: 100%;
    object-fit: cover;
}

@media (max-width: 700px) {
    ul {
        flex-direction: column;
    }

    #menu-button {
        display: block;
    }
    h1 {
        font-size: 2rem;
    }
    .viewer {
        position: fixed;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
        margin-right: 0;
        background: rgba(0, 0, 0, 0.75);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr; 
        place-items: center;
        height: 100vh;
    }
    .close-viewer {
        color: white;
        grid-column: 3 / 4;
        grid-row: 1;
        max-height: 100%;
        max-width: 100%;
        padding-bottom: 5%;
    }
    .lg-img {
        grid-column: 1 / 4;
        grid-row: 2;
        max-height: 60vh;
        max-width: 90%;
    }
}

@media screen and (min-width: 700px) {
    .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
    #menu-button {
        display: block;
    }
    .viewer {
        top: 0;
        left: 0;
        position: fixed;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
        margin-right: 0;
        background: rgba(0, 0, 0, 0.75);
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-rows: auto 1fr; */
        gap: 20px;
        height: 100vh;
        align-items: center;
        justify-items: center;
        padding: 20px;
        width: 100vw;
        height: 100vh;
    }
    .close-viewer {
        color: white;
        position: absolute;
        top: 5px;
        right: 100px;
        /* grid-row: 1; */
        cursor: pointer;
        padding: 10px;
        z-index: 10000;
        max-height: 300px;
        max-width: 600px;
    }
    .lg-img {
        /* grid-row: 2; */
        max-height: max-content;
        max-width: 90%;
        height: 80vh;
        object-fit: contain;
    }   
}

@media screen and (min-width: 1000px) {
    .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }
    #menu-button {
        display: none;
    }
    li {
        display: block !important;
    }
    ul.hide {
        display: block;
    }
    .viewer {
        top: 0;
        left: 0;
        position: fixed;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
        margin-right: 0;
        background: rgba(0, 0, 0, 0.75);
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-rows: auto 1fr; */
        gap: 20px;
        height: 100vh;
        align-items: center;
        justify-items: center;
        padding: 20px;
        width: 100vw;
        height: 100vh;
    }
    .close-viewer {
        color: white;
        position: absolute;
        top: 5px;
        right: 300px;
        /* grid-row: 1; */
        cursor: pointer;
        padding: 10px;
        z-index: 10000;
        max-height: 300px;
        max-width: 600px;
    }
    .lg-img {
        /* grid-row: 2; */
        max-height: max-content;
        max-width: 90%;
        height: 80vh;
        object-fit: contain;
    }
}