/* greenish blue: #4B5043; black: #090909; blue: #9BC4BC; reddish: #C33C54; */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4B5043;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
}

#title {
    text-align: center;
    color: #C33C54;
}

nav {
    font-family: 'Lora', impact, serif;
    color: #C33C54;
    text-align: right;
    padding: 20px;
    border: 5px solid #A3D9FF;
    grid-column: 1 / 3;
    grid-row: 1;
}

section#books-desc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C33C54;
    padding: 10px;
    border: 1px solid #ccc;
}

.description {
    background-color: #C33C54;
    padding: 10px;
    border: 1px solid #ccc;
}

.book-title {
    color: #A3D9FF;
}

#magyk {

    grid-column: 2;
    grid-row: 1;
}

#magyk-desc {
    grid-column: 1;
    grid-row: 1;
}

#magnus {
    grid-column: 2;
    grid-row: 2;
}

#magnus-desc {
    grid-column: 1;
    grid-row: 2;
}

aside#filter {
    padding: 20px;
    border-left: 2px solid #A3D9FF;
}

#filter-txt {
    color: #C33C54;
}