@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@300&family=Spline+Sans+Mono:wght@300&display=swap');

:root {
    --primary-color: #3E92CC;
    --secondary-color: #2a628f;
    --accent1-color: #13293d;
    --accent2-color: white;

    --heading-font: "Anton";
    --paragraph-font:  "Open Sans ";

    --headline-color-on-white: #13293d;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #2a628f; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #3e92cc;
    --nav-link-color: white;
    --nav-background-color: #13293d;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #396E94;
}



/* header */



header {
    display: grid;
    align-items: center;
    grid-template-columns: 200px auto;
    background-color: #3e92cc;
    padding-left: 5px;
}

header img {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
   /* align-items: center; */
}

nav a {
    text-align: center;
    color: white;
    text-transform: none;
    text-decoration: none;
    padding: 35px; 
    font-size: 35px;
}

nav a:hover {
    background-color: #ABA9C3;
    color: white;
    text-decoration: none;
}

.index-nav {
    grid-column: 2/3;
}

.com-nav {
    grid-column: 3/4;
}

.rent-nav {
    grid-column: 4/5;
}

.logo {
    width: 100%;
    padding-left: 10px;
    margin-left: 10px;
    grid-column: 1/2;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}


body {
    margin: 0;
    padding: 0 ;
}

.content {
    max-width: 1800px;
    margin: 0 auto;
}

#comment-section {
    text-align: center;
}

.community-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
    margin-top: 25px;
}

.community-grid img {
    width: 100%;
}

.fam-pic {
    grid-column: 1/2;
    grid-row: 1/2;
}

.comm-para {
    grid-column: 2/4;
    grid-row: 1/2;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 2;
    font-size: large;
}

.couple-pic {
    grid-column: 1/2;
    grid-row: 2/3;
}

.trio-pic {
    grid-column: 2/3;
    grid-row: 2/3;
}

.group-pic {
    grid-column: 3/4;
    grid-row: 2/3;
}

.comm-msg {
    text-align: center;
}

.comm-facebook {
    width: 100px;
    display: block;
    margin: 0 auto; 
}

p {
    font-size: large;
}

/* The submit form */

#container {
    text-align: center;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form {
    margin-bottom: 20px;
}

#output {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    text-align: left;
}

/* Submit form above */



/* Footer CSS */ 

footer {
    background-color: #3e92cc;
    color: white;
    padding: 25px 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: white;
    text-decoration: none;
    text-align: center;
}

footer a:hover {
    background-color: #ABA9C3;
    color: white;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: none;
    background-color: #ABA9C3;
    color: white;
}

.siteplan-footer {
    color: white;
    text-transform: none;
    padding: 35px; 
    font-size: large;
}

footer .social img {
    padding-top: 15px;
}