@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@300&family=Spline+Sans+Mono:wght@300&display=swap');

:root {
  --primary-color: #3E92CC;
  --secondary-color: #2a628f;
  --accent1-color: #13293d;
  --accent2-color: white;

  --heading-font: "Anton";
  --paragraph-font:  "Open Sans ";

  --headline-color-on-white: #13293d;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #2a628f; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #3e92cc;
  --nav-link-color: white;
  --nav-background-color: #13293d;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #396E94;
}



/* header */



header {
    display: grid;
    align-items: center;
    grid-template-columns: 200px auto;
    background-color: #3e92cc;
    padding-left: 5px;
}

header img {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
   /* align-items: center; */
}

nav a {
    text-align: center;
    color: white;
    text-transform: none;
    text-decoration: none;
    padding: 35px; 
    font-size: 35px;
}

nav a:hover {
    background-color: #ABA9C3;
    color: white;
    text-decoration: none;
}

.index-nav {
    grid-column: 2/3;
}

.com-nav {
    grid-column: 3/4;
}

.rent-nav {
    grid-column: 4/5;
}

.logo {
    width: 100%;
    padding-left: 10px;
    margin-left: 10px;
    grid-column: 1/2;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}


body {
    margin: 0;
    padding: 0 ;
}

.content {
    max-width: 1800px;
    margin: 0 auto;
}

/* hero image */ 



#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img {
    width: 100%;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h1 {
    margin: 0 auto;
    color: white;
    background-color: #13293d;
    width: 200px;
    padding: 20px;
    text-align: center;
}

.home-para {
    margin: 0 auto;
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 20px;
}

.double {
    line-height: 2;
}


/* Community Page CSS */


.community-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
    margin-top: 25px;
}

.community-grid img {
    width: 100%;
}

.fam-pic {
    grid-column: 1/2;
    grid-row: 1/2;
}

.comm-para {
    grid-column: 2/4;
    grid-row: 1/2;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 2;
    font-size: large;
}

.couple-pic {
    grid-column: 1/2;
    grid-row: 2/3;
}

.trio-pic {
    grid-column: 2/3;
    grid-row: 2/3;
}

.group-pic {
    grid-column: 3/4;
    grid-row: 2/3;
}

.comm-msg {
    text-align: center;
}

.comm-facebook {
    width: 100px;
   display: block;
   margin: 0 auto; 
}

p {
    font-size: large;
}


/* Rental Page CSS */


/* Rental Slideshow */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 25px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  background-color: rgba(255,255,255,0.4);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  background-color: rgba(255,255,255,0.4);
  font-size: 45px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 50%;
  margin: auto;
  right: 0;
  left: 0;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 10px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #3e92cc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dots {
    position: absolute;
    bottom: 90px;
    margin: auto;
    width: 100px;
    right: 0;
    left: 0;
}

.active, .dot:hover {
  background-color: #13293d;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* The rest of the rental page CSS */

.message-image {
    margin: 0 auto;
    text-align: center;
}

.rental-msg {
    padding-right: 75px;
    padding-left: 75px;
    padding-bottom: 25px;
}

.mtb-me {
    width: 66%;
}


/* Footer CSS */ 



footer {
    background-color: #3e92cc;
    color: white;
    padding: 25px 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: white;
    text-decoration: none;
    text-align: center;
}

footer a:hover {
    background-color: #ABA9C3;
    color: white;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: none;
    background-color: #ABA9C3;
    color: white;
}

.siteplan-footer {
    color: white;
    text-transform: none;
    padding: 35px; 
    font-size: large;
}

footer .social img {
    padding-top: 15px;
}